#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	./libs/build_public_res.sh
	GOOS=linux GOARCH=amd64 ./libs/build_go.sh
	cmake -S . -B build -GNinja -DQT_VERSION_MAJOR=6 -DCMAKE_BUILD_TYPE=Release -DNKR_PACKAGE=ON
	cmake --build build

override_dh_auto_install:
	DESTDIR="$(CURDIR)/debian/proxor" ./packaging/linux/stage-native-root.sh \
		--gui "$(CURDIR)/build/proxor" \
		--core "$(CURDIR)/deployment/linux64/proxor_core" \
		--geodata "$(CURDIR)/deployment/public_res"
	install -D -m 0644 assets/linux/proxor.desktop "$(CURDIR)/debian/proxor/usr/share/applications/proxor.desktop"
	install -D -m 0644 assets/res/public/proxor.png "$(CURDIR)/debian/proxor/usr/share/icons/hicolor/256x256/apps/proxor.png"
