QTabWidget QWidget {
  border-radius: 0px;
}

QLineEdit:hover,
QLineEdit:focus,
QTextEdit:focus,
QPlainTextEdit:focus,
QTextBrowser:focus,
QTreeView:focus,
QListView:focus,
QTableView:focus,
QColumnView:focus {
  border: 1px solid #455364;
}

QComboBox:focus,
QAbstractSpinBox:focus,
QDateEdit:focus,
QTimeEdit:focus,
QDateTimeEdit:focus {
  border: 1px solid #455364;
}

QPushButton:focus,
QToolButton:focus {
  outline: none;
  border: none;
}

QLineEdit,
QTextEdit,
QPlainTextEdit,
QTextBrowser {
  selection-background-color: #455364;
  selection-color: #DFE1E2;
}

QLineEdit:selected,
QTextEdit:selected,
QPlainTextEdit:selected,
QTextBrowser:selected {
  background: #455364;
  color: #DFE1E2;
}

QSplitter#splitter {
  background-color: transparent;
}

QSplitter#splitter::handle {
  background-color: transparent;
  border: none;
  padding: 0px;
}

QSplitter#splitter::handle:hover {
  background-color: transparent;
}

QSplitter#splitter::handle:vertical {
  height: 5px;
  image: none;
}

QMenu::item {
  padding: 4px 20px 4px 22px;
}

QMenu::indicator {
  width: 14px;
  height: 14px;
  padding: 0px;
  margin: 0px 4px 0px 4px;
}
